In [48]:
import pandas as pd
from flask import Flask, jsonify, render_template
app = Flask(__name__)
import datetime as dt

In [49]:
df = pd.read_csv("Meteorite_Landings.csv")
len(df)

45716

In [50]:
df = df.sort_values(by=['year'],ascending=False)
df

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
703,Nogata,16988,Valid,L6,472.00,Fell,12/28/0860 12:00:00 AM,33.72500,130.75000,"(33.725000, 130.750000)"
678,Narni,16914,Valid,Stone-uncl,NaN,Fell,12/27/0920 12:00:00 AM,42.51667,12.51667,"(42.516670, 12.516670)"
278,Elbogen,7823,Valid,"Iron, IID",107000.00,Fell,12/24/1399 12:00:00 AM,50.18333,12.73333,"(50.183330, 12.733330)"
1040,Valdinoce,24146,Valid,Stone-uncl,NaN,Fell,12/23/1495 12:00:00 AM,44.06667,12.10000,"(44.066670, 12.100000)"
283,Ensisheim,10039,Valid,LL6,127000.00,Fell,12/23/1491 12:00:00 AM,47.86667,7.35000,"(47.866670, 7.350000)"
852,Rivolta de Bassi,22614,Valid,Stone-uncl,103.30,Fell,12/23/1490 12:00:00 AM,45.48333,9.51667,"(45.483330, 9.516670)"
5329,Campo del Cielo,5247,Valid,"Iron, IAB-MG",50000000.00,Found,12/22/1575 12:00:00 AM,-27.46667,-60.58333,"(-27.466670, -60.583330)"
729,Oliva-Gandia,18012,Valid,Stone-uncl,NaN,Fell,12/22/1519 12:00:00 AM,39.00000,-0.03333,"(39.000000, -0.033330)"
38188,Ur,24125,Valid,Iron,NaN,Found,1/22/2501 0:00,30.90000,46.01667,"(30.900000, 46.016670)"
30679,Northwest Africa 7701,57150,Valid,CK6,55.00,Found,1/1/2101 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30774,Northwest Africa 7858,57423,Valid,H4,459.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30759,Northwest Africa 7812,57258,Valid,Angrite,46.20,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30760,Northwest Africa 7822,57268,Valid,Achondrite-ung,45.80,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30727,Northwest Africa 7755,57166,Valid,Martian (shergottite),30.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30776,Northwest Africa 7861,57425,Valid,L5,611.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30777,Northwest Africa 7862,57426,Valid,L4/5,317.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30773,Northwest Africa 7857,57422,Valid,LL6,246.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
194,Chelyabinsk,57165,Valid,LL5,100000.00,Fell,1/1/2013 0:00,54.81667,61.11667,"(54.816670, 61.116670)"
30778,Northwest Africa 7863,57427,Valid,LL5,1000.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30771,Northwest Africa 7855,57420,Valid,H4,916.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30772,Northwest Africa 7856,57421,Valid,LL6,517.00,Found,1/1/2013 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30700,Northwest Africa 7730,57161,Valid,LL3.4,373.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30697,Northwest Africa 7724,56749,Valid,L6,1000.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30695,Northwest Africa 7721,56746,Valid,Martian (shergottite),32.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30698,Northwest Africa 7729,56754,Valid,LL5,250.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30696,Northwest Africa 7722,56747,Valid,L6,155.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30704,Northwest Africa 7734,56757,Valid,LL4-6,1900.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30701,Northwest Africa 7731,57162,Valid,L3.00,81.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30702,Northwest Africa 7732,56755,Valid,H6,550.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
30703,Northwest Africa 7733,56756,Valid,LL5-6,1835.00,Found,1/1/2012 0:00,0.00000,0.00000,"(0.000000, 0.000000)"
...,...,...,...,...,...,...,...,...,...,...
29558,Northwest Africa 5828,50706,Valid,H5,2799.00,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
29568,Northwest Africa 5838,50716,Valid,H6,1438.70,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
29574,Northwest Africa 5844,50722,Valid,L5,1000.00,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
29575,Northwest Africa 5845,50723,Valid,L5,3000.00,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
29582,Northwest Africa 5852,50730,Valid,L6,293.00,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
29583,Northwest Africa 5853,50731,Valid,L6,74.50,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
29926,Northwest Africa 6514,52949,Valid,LL(L)3.1,3200.00,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
30060,Northwest Africa 6704,53609,Valid,Achondrite-ung,8387.00,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
30107,Northwest Africa 6853,54612,Valid,L~6,22.28,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
30346,Northwest Africa 724,17806,Valid,LL3,1200.00,Found,NaN,30.23333,-5.86667,"(30.233330, -5.866670)"
30353,Northwest Africa 725,17807,Valid,Acapulcoite,3824.00,Found,NaN,30.60000,-5.05000,"(30.600000, -5.050000)"
30364,Northwest Africa 726,17808,Valid,H4,354.00,Found,NaN,31.03333,-4.00000,"(31.033330, -4.000000)"
30911,Nova 008,45818,Valid,L6,4200.00,Found,NaN,NaN,NaN,NaN
30912,Nova 009,45819,Valid,H4,7300.00,Found,NaN,NaN,NaN,NaN
30919,Nuevo Mercurio (c),48690,Valid,H5-6,16.80,Found,NaN,24.26000,-102.14083,"(24.260000, -102.140830)"
31018,Österplana 006,44806,Relict,Relict OC,NaN,Found,NaN,58.58333,13.43333,"(58.583330, 13.433330)"
35808,Ramlat as Sahmah 426,56439,Valid,H4,92.00,Found,NaN,20.11306,56.39750,"(20.113060, 56.397500)"
35809,Ramlat as Sahmah 427,56515,Valid,H5,7.60,Found,NaN,20.09889,56.40972,"(20.098890, 56.409720)"
35810,Ramlat as Sahmah 428,56516,Valid,L6,16247.00,Found,NaN,20.10361,56.32694,"(20.103610, 56.326940)"
36029,Rio Bunge,22607,Valid,L,11.00,Found,NaN,NaN,NaN,NaN
36030,Río Cuarto 001,44799,Valid,Eucrite,62.70,Found,NaN,-32.87167,-64.22333,"(-32.871670, -64.223330)"
37375,Sayh al Uhaymir 557,56432,Valid,H4,3.00,Found,NaN,20.17417,56.51111,"(20.174170, 56.511110)"
37641,Sleeper Camp 005,23631,Valid,H5,129.00,Found,NaN,-30.17367,126.29233,"(-30.173670, 126.292330)"
37704,Squaw Creek,23693,Valid,"Iron, IIAB",14500.00,Found,NaN,32.00000,-98.00000,"(32.000000, -98.000000)"
38118,Uasara,55266,Valid,"Iron, IIAB",3140.00,Found,NaN,0.00000,0.00000,"(0.000000, 0.000000)"
38128,Um-Hadid,24114,Valid,Mesosiderite,15400.00,Found,NaN,21.69500,50.59667,"(21.695000, 50.596670)"
38201,Valencia,24147,Valid,H5,33500.00,Found,NaN,39.00000,-0.03333,"(39.000000, -0.033330)"
38224,Villa Regina,53827,Valid,"Iron, IIIAB",5030.00,Found,NaN,-39.10000,-67.06667,"(-39.100000, -67.066670)"
38328,Wiltshire,56143,Valid,H5,92750.00,Found,NaN,51.14967,-1.81000,"(51.149670, -1.810000)"
45700,Zaragoza,48916,Valid,"Iron, IVA-an",162000.00,Found,NaN,41.65000,-0.86667,"(41.650000, -0.866670)"

In [39]:
#df.describe()

In [5]:
# This is another site that has the densities of the meteorite types in a table
df_densities = pd.read_html("http://meteorites.wustl.edu/id/density.htm")

In [6]:
#df_densities