In [41]:
import pandas as pd
from flask import Flask, jsonify, render_template
app = Flask(__name__)
import datetime as dt

In [42]:
df = pd.read_csv("Meteorite_Landings.csv")
len(df)

45716

In [46]:
df.dropna(inplace =True)
df["recclass"] = df["recclass"].str.lower()
df

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Nogata,16988.0,Valid,l6,472.0,Fell,12/28/0860 12:00:00 AM,33.72500,130.75000,"(33.725000, 130.750000)"
2,Elbogen,7823.0,Valid,"iron, iid",107000.0,Fell,12/24/1399 12:00:00 AM,50.18333,12.73333,"(50.183330, 12.733330)"
4,Ensisheim,10039.0,Valid,ll6,127000.0,Fell,12/23/1491 12:00:00 AM,47.86667,7.35000,"(47.866670, 7.350000)"
5,Rivolta de Bassi,22614.0,Valid,stone-uncl,103.3,Fell,12/23/1490 12:00:00 AM,45.48333,9.51667,"(45.483330, 9.516670)"
6,Campo del Cielo,5247.0,Valid,"iron, iab-mg",50000000.0,Found,12/22/1575 12:00:00 AM,-27.46667,-60.58333,"(-27.466670, -60.583330)"
8,Wietrzno-Bobrka,24259.0,Valid,iron,376.0,Found,01/08/0601 12:00:00 AM,49.41667,21.70000,"(49.416670, 21.700000)"
10,Allegan,2276.0,Valid,h5,32000.0,Fell,01/01/1899 12:00:00 AM,42.53333,-85.88333,"(42.533330, -85.883330)"
11,Bjurb√∂le,5064.0,Valid,l/ll4,330000.0,Fell,01/01/1899 12:00:00 AM,60.40000,25.80000,"(60.400000, 25.800000)"
12,Donga Kohrod,7707.0,Valid,h6,230.0,Fell,01/01/1899 12:00:00 AM,21.86667,82.45000,"(21.866670, 82.450000)"
13,Magnesia,15386.0,Valid,"iron, iab-shl",5000.0,Fell,01/01/1899 12:00:00 AM,37.86667,27.51667,"(37.866670, 27.516670)"
14,Peramiho,18792.0,Valid,eucrite-mmict,165.0,Fell,01/01/1899 12:00:00 AM,-10.66667,35.50000,"(-10.666670, 35.500000)"
15,Rancho de la Presa,22390.0,Valid,h5,300.0,Fell,01/01/1899 12:00:00 AM,19.86667,-100.81667,"(19.866670, -100.816670)"
16,Zomba,30412.0,Valid,l6,7500.0,Fell,01/01/1899 12:00:00 AM,-15.18333,35.28333,"(-15.183330, 35.283330)"
17,Castray River,5294.0,Valid,iron,10.0,Found,01/01/1899 12:00:00 AM,-41.50000,145.41667,"(-41.500000, 145.416670)"
18,Gerona,10906.0,Valid,h5,148.0,Found,01/01/1899 12:00:00 AM,41.96667,2.81667,"(41.966670, 2.816670)"
19,Illinois Gulch,12024.0,Valid,"iron, ungrouped",2500.0,Found,01/01/1899 12:00:00 AM,46.68333,-112.55000,"(46.683330, -112.550000)"
20,Kissij,12324.0,Valid,h5,5500.0,Found,01/01/1899 12:00:00 AM,54.86667,50.88333,"(54.866670, 50.883330)"
21,Murphy,16881.0,Valid,"iron, iiab",7700.0,Found,01/01/1899 12:00:00 AM,35.10000,-84.03333,"(35.100000, -84.033330)"
22,Red Willow,22550.0,Valid,iron,2750.0,Found,01/01/1899 12:00:00 AM,40.25000,-100.50000,"(40.250000, -100.500000)"
23,Surprise Springs,23761.0,Valid,"iron, iab-sll",1500.0,Found,01/01/1899 12:00:00 AM,34.16667,-115.91667,"(34.166670, -115.916670)"
24,Andover,2295.0,Valid,l6,3200.0,Fell,01/01/1898 12:00:00 AM,44.61667,-70.75000,"(44.616670, -70.750000)"
25,Mariaville,15419.0,Valid,iron,340.0,Fell,01/01/1898 12:00:00 AM,42.71667,-99.38333,"(42.716670, -99.383330)"
26,Mjelleim,16707.0,Valid,h,100.7,Fell,01/01/1898 12:00:00 AM,61.73333,5.93333,"(61.733330, 5.933330)"
27,Quesa,22360.0,Valid,"iron, iab-ung",10750.0,Fell,01/01/1898 12:00:00 AM,39.00000,-0.66667,"(39.000000, -0.666670)"
28,Zaisho,30389.0,Valid,"pallasite, pmg-an",330.0,Fell,01/01/1898 12:00:00 AM,33.70000,133.80000,"(33.700000, 133.800000)"
29,Alt Bela,2283.0,Valid,"iron, iid",4000.0,Found,01/01/1898 12:00:00 AM,49.76667,18.25000,"(49.766670, 18.250000)"
30,Andryushki,2297.0,Valid,l6,26.6,Found,01/01/1898 12:00:00 AM,49.65000,29.63333,"(49.650000, 29.633330)"
31,Armanty,2335.0,Valid,"iron, iiie",28000000.0,Found,01/01/1898 12:00:00 AM,47.00000,88.00000,"(47.000000, 88.000000)"
32,Bendock,5016.0,Valid,pallasite,27000.0,Found,01/01/1898 12:00:00 AM,-37.15000,148.91667,"(-37.150000, 148.916670)"
33,Bond Springs,5102.0,Valid,h6,6.2,Found,01/01/1898 12:00:00 AM,-23.50000,133.83333,"(-23.500000, 133.833330)"
...,...,...,...,...,...,...,...,...,...,...
45396,Chinautla,5352.0,Valid,"iron, iva-an",5720.0,Found,1/1/1902,14.50000,-90.50000,"(14.500000, -90.500000)"
45397,Finmarken,10103.0,Valid,"pallasite, pmg",78300.0,Found,1/1/1902,70.00000,24.00000,"(70.000000, 24.000000)"
45398,Nuleri,17939.0,Valid,"iron, iiiab",120.0,Found,1/1/1902,-27.83333,123.86667,"(-27.833330, 123.866670)"
45399,Veliko-Nikolaevsky Priisk,24157.0,Valid,"iron, iiiab",24267.0,Found,1/1/1902,53.83333,97.33333,"(53.833330, 97.333330)"
45400,Willamette,24269.0,Valid,"iron, iiiab",15500000.0,Found,1/1/1902,45.36667,-122.58333,"(45.366670, -122.583330)"
45401,Chervettaz,5341.0,Valid,l5,705.0,Fell,1/1/1901,46.55000,6.81667,"(46.550000, 6.816670)"
45402,Hvittis,11989.0,Valid,el6,14000.0,Fell,1/1/1901,61.18333,22.68333,"(61.183330, 22.683330)"
45404,Phillips County (stone),18808.0,Valid,l6,57900.0,Fell,1/1/1901,40.00000,-99.25000,"(40.000000, -99.250000)"
45405,Sindhri,23611.0,Valid,h5,8400.0,Fell,1/1/1901,26.21667,69.55000,"(26.216670, 69.550000)"
45406,Ashfork,2348.0,Valid,"iron, iab-mg",27000.0,Found,1/1/1901,35.25000,-112.50000,"(35.250000, -112.500000)"
45407,Gay Gulch,10867.0,Valid,"iron, iab-shh",483.0,Found,1/1/1901,63.91667,-139.33333,"(63.916670, -139.333330)"
45408,Hendersonville,11873.0,Valid,l5,6000.0,Found,1/1/1901,35.31667,-81.46667,"(35.316670, -81.466670)"
45409,Paulding County,18172.0,Valid,iron,725.0,Found,1/1/1901,34.00000,-84.80000,"(34.000000, -84.800000)"
45410,Saline,23109.0,Valid,h5,30800.0,Found,1/1/1901,39.40000,-100.40000,"(39.400000, -100.400000)"
45411,Alexandrovsky,465.0,Valid,h4,9251.0,Fell,1/1/1900,50.95000,31.81667,"(50.950000, 31.816670)"
45412,Emmaville,10033.0,Valid,eucrite-mmict,127.0,Fell,1/1/1900,-29.46667,151.61667,"(-29.466670, 151.616670)"
45413,Felix,10081.0,Valid,co3.3,3200.0,Fell,1/1/1900,32.53333,-87.16667,"(32.533330, -87.166670)"
45414,Forsbach,10163.0,Valid,h6,240.0,Fell,1/1/1900,50.95000,7.31667,"(50.950000, 7.316670)"
45415,Leonovka,12765.0,Valid,l6,700.0,Fell,1/1/1900,52.26667,32.85000,"(52.266670, 32.850000)"
45416,N'Goureyma,16968.0,Valid,"iron, ungrouped",37500.0,Fell,1/1/1900,13.85000,-4.38333,"(13.850000, -4.383330)"
45417,Ofeh√©rt√≥,17990.0,Valid,l6,3750.0,Fell,1/1/1900,47.88333,22.03333,"(47.883330, 22.033330)"
45418,Ovambo,18055.0,Valid,l6,121.5,Fell,1/1/1900,-18.00000,16.00000,"(-18.000000, 16.000000)"
45419,Boogaldi,5107.0,Valid,"iron, iva",2000.0,Found,1/1/1900,-31.15000,149.11667,"(-31.150000, 149.116670)"
45420,Cedar (Texas),5303.0,Valid,h4,26000.0,Found,1/1/1900,29.82806,-96.90861,"(29.828060, -96.908610)"
45422,Karagai,12255.0,Valid,l6,115.0,Found,1/1/1900,51.11667,57.91667,"(51.116670, 57.916670)"
45423,La Porte,12401.0,Valid,"iron, iiiab",14540.0,Found,1/1/1900,41.60000,-86.71667,"(41.600000, -86.716670)"
45424,Norin-Shibir,16995.0,Valid,"iron, ungrouped",3.5,Found,1/1/1900,51.85000,107.91667,"(51.850000, 107.916670)"
45425,Rhine Villa,22594.0,Valid,"iron, iiie",3325.0,Found,1/1/1900,-34.66667,139.28333,"(-34.666670, 139.283330)"
45426,Selcany,23482.0,Valid,iron,20.0,Found,1/1/1900,49.75000,14.41667,"(49.750000, 14.416670)"
45427,Sterling,23723.0,Valid,pallasite,679.5,Found,1/1/1900,40.60000,-103.18333,"(40.600000, -103.183330)"

In [48]:
# This is another site that has the densities of the meteorite types in a table
df_densities = pd.read_html("http://meteorites.wustl.edu/id/density.htm")

In [49]:
# df_densities

[                                                  0    \
 0   METEORITE OR METEORWRONG?  density & specific ...
 1   Relative Abundance and Densities  of Meteorite...
 2                                                 NaN
 3                                      meteorite type
 4                                               STONY
 5                                          Chondrites
 6                                            Ordinary
 7                                                   H
 8                                                   L
 9                                                  LL
 10                                              other
 11                                       Carbonaceous
 12                                                 CI
 13                                                 CM
 14                                                 CR
 15                                                 CO
 16                                                 CV
 17                                                 CH
 18                                                 CK
 19                                              other
 20                                          Enstatite
 21                                                  E
 22                                                 EH
 23                                                 EL
 24                                              Other
 25                                        Achondrites
 26                                           aubrites
 27                                         diogenites
 28                                           eucrites
 29                                         howardites
 30                                          ureilites
 31                             Martian - shergottites
 32                             Martian - chassignites
 33                                Martian - nahklites
 34                                      total Martian
 35                                              lunar
 36                                              other
 37                           Ungrouped & Unclassified
 38                                        STONY-IRONS
 39                                         Pallasites
 40                                      Mesosiderites
 41                                              IRONS
 42                                                NaN
 43  Density data primarily from Britt and Consolma...
 44  Bottom Line:  If you have a rock that is not m...
 45  Prepared by:  Randy L. Korotev  Department of ...
 46  Please don't contact me about the meteorite yo...

                                                   1                2    \
 0                                                 NaN              NaN
 1                                                 NaN              NaN
 2                                         how common?  density (g/cm3)
 3                                % of all meteorites*          average
 4                                                95.6              NaN
 5                                                67.5              NaN
 6                                                63.4              NaN
 7                                                30.9             3.40
 8                                                27.6             3.35
 9                                                 4.7             3.21
 10                                                0.2              NaN
 11                                               2.49              NaN
 12                                               0.02             2.11
 13                                               0.72             2.12
 14                                               0.35             3.10
 15                                               0.38             2.95
 16                                               0.22             2.95
 17                                               0.05             3.44
 18                                               0.32             3.47
 19                                               0.44                -
 20                                               0.89              NaN
 21                                               0.17                -
 22                                               0.56             3.72
 23                                               0.17             3.55
 24                                               0.72                -
 25                                               2.71              NaN
 26                                               0.20             3.12
 27                                               0.42             3.26
 28                                               0.89             2.86
 29                                               0.41             3.02
 30                                               0.41             3.05
 31                                               0.04             3.10
 32                                              0.004             3.32
 33                                              0.013             3.15
 34                                               0.07              NaN
 35                                               0.08        2.7-3.8**
 36                                               0.23                -
 37                                               25.4              NaN
 38                                               0.52              NaN
 39                                               0.22             4.76
 40                                               0.29             4.25
 41                                               3.84              7-8
 42                                                NaN              NaN
 43                                                NaN              NaN
 44                                                NaN              NaN
 45  Please don't contact me about the meteorite yo...              NaN
 46                                                NaN              NaN

                                                   3        4    \
 0   Relative Abundance and Densities  of Meteorite...      NaN
 1                                                 NaN      NaN
 2                     density mean and range based on      NaN
 3                            minimum  (high porosity)  maximum
 4                                                 NaN      NaN
 5                                                 NaN      NaN
 6                                                 NaN      NaN
 7                                                2.80     3.80
 8                                                2.50     3.96
 9                                                2.38     3.49
 10                                                NaN      NaN
 11                                                NaN      NaN
 12                                                  -        -
 13                                               1.79     2.40
 14                                                  -        -
 15                                               2.79     3.09
 16                                               2.69     3.25
 17                                                NaN      NaN
 18                                               3.46     3.49
 19                                                  -        -
 20                                                NaN      NaN
 21                                                  -        -
 22                                               3.71     3.73
 23                                               3.48     3.62
 24                                                  -        -
 25                                                NaN      NaN
 26                                               2.97     3.33
 27                                               3.11     3.44
 28                                               2.74     2.95
 29                                               2.80     3.16
 30                                               2.81     3.21
 31                                               3.07     3.12
 32                                                NaN      NaN
 33                                               3.10     3.20
 34                                                NaN      NaN
 35                                                NaN      NaN
 36                                                  -        -
 37                                                NaN      NaN
 38                                                NaN      NaN
 39                                               4.64     4.89
 40                                               4.23     4.27
 41                                                NaN      NaN
 42                                                NaN      NaN
 43                                                NaN      NaN
 44                                                NaN      NaN
 45                                                NaN      NaN
 46                                                NaN      NaN

                  5                     6                                7    \
 0        how common?       density (g/cm3)  density mean and range based on
 1                NaN                   NaN                              NaN
 2                NaN                   NaN                              NaN
 3   number of pieces  number of meteorites                              NaN
 4                NaN                   NaN                              NaN
 5                NaN                   NaN                              NaN
 6                NaN                   NaN                              NaN
 7                265                   157                              NaN
 8                277                   160                              NaN
 9                149                    39                              NaN
 10               NaN                   NaN                              NaN
 11               NaN                   NaN                              NaN
 12                1?                    1?                              NaN
 13                33                    11                              NaN
 14                1?                    1?                              NaN
 15                22                     8                              NaN
 16                51                    10                              NaN
 17                 1                     1                              NaN
 18                 4                     2                              NaN
 19               NaN                   NaN                              NaN
 20               NaN                   NaN                              NaN
 21                 -                   NaN                              NaN
 22                 8                     5                              NaN
 23                15                     7                              NaN
 24               NaN                   NaN                              NaN
 25               NaN                   NaN                              NaN
 26                10                     6                              NaN
 27                 8                     3                              NaN
 28                18                     9                              NaN
 29                 8                     5                              NaN
 30                 7                     3                              NaN
 31                 3                     2                              NaN
 32                 1                     1                              NaN
 33                 3                     1                              NaN
 34               NaN                   NaN                              NaN
 35               NaN                   NaN                              NaN
 36               NaN                   NaN                              NaN
 37               NaN                   NaN                              NaN
 38               NaN                   NaN                              NaN
 39                10                     5                              NaN
 40                 8                     3                              NaN
 41               NaN                   NaN                              NaN
 42               NaN                   NaN                              NaN
 43               NaN                   NaN                              NaN
 44               NaN                   NaN                              NaN
 45               NaN                   NaN                              NaN
 46               NaN                   NaN                              NaN

                8                     9    \
 0   meteorite type  % of all meteorites*
 1              NaN                   NaN
 2              NaN                   NaN
 3              NaN                   NaN
 4              NaN                   NaN
 5              NaN                   NaN
 6              NaN                   NaN
 7              NaN                   NaN
 8              NaN                   NaN
 9              NaN                   NaN
 10             NaN                   NaN
 11             NaN                   NaN
 12             NaN                   NaN
 13             NaN                   NaN
 14             NaN                   NaN
 15             NaN                   NaN
 16             NaN                   NaN
 17             NaN                   NaN
 18             NaN                   NaN
 19             NaN                   NaN
 20             NaN                   NaN
 21             NaN                   NaN
 22             NaN                   NaN
 23             NaN                   NaN
 24             NaN                   NaN
 25             NaN                   NaN
 26             NaN                   NaN
 27             NaN                   NaN
 28             NaN                   NaN
 29             NaN                   NaN
 30             NaN                   NaN
 31             NaN                   NaN
 32             NaN                   NaN
 33             NaN                   NaN
 34             NaN                   NaN
 35             NaN                   NaN
 36             NaN                   NaN
 37             NaN                   NaN
 38             NaN                   NaN
 39             NaN                   NaN
 40             NaN                   NaN
 41             NaN                   NaN
 42             NaN                   NaN
 43             NaN                   NaN
 44             NaN                   NaN
 45             NaN                   NaN
 46             NaN                   NaN

                           ...                         284 285 286 287  \
 0                         ...                         NaN NaN NaN NaN
 1                         ...                         NaN NaN NaN NaN
 2                         ...                         NaN NaN NaN NaN
 3                         ...                         NaN NaN NaN NaN
 4                         ...                         NaN NaN NaN NaN
 5                         ...                         NaN NaN NaN NaN
 6                         ...                         NaN NaN NaN NaN
 7                         ...                         NaN NaN NaN NaN
 8                         ...                         NaN NaN NaN NaN
 9                         ...                         NaN NaN NaN NaN
 10                        ...                         NaN NaN NaN NaN
 11                        ...                         NaN NaN NaN NaN
 12                        ...                         NaN NaN NaN NaN
 13                        ...                         NaN NaN NaN NaN
 14                        ...                         NaN NaN NaN NaN
 15                        ...                         NaN NaN NaN NaN
 16                        ...                         NaN NaN NaN NaN
 17                        ...                         NaN NaN NaN NaN
 18                        ...                         NaN NaN NaN NaN
 19                        ...                         NaN NaN NaN NaN
 20                        ...                         NaN NaN NaN NaN
 21                        ...                         NaN NaN NaN NaN
 22                        ...                         NaN NaN NaN NaN
 23                        ...                         NaN NaN NaN NaN
 24                        ...                         NaN NaN NaN NaN
 25                        ...                         NaN NaN NaN NaN
 26                        ...                         NaN NaN NaN NaN
 27                        ...                         NaN NaN NaN NaN
 28                        ...                         NaN NaN NaN NaN
 29                        ...                         NaN NaN NaN NaN
 30                        ...                         NaN NaN NaN NaN
 31                        ...                         NaN NaN NaN NaN
 32                        ...                         NaN NaN NaN NaN
 33                        ...                         NaN NaN NaN NaN
 34                        ...                         NaN NaN NaN NaN
 35                        ...                         NaN NaN NaN NaN
 36                        ...                         NaN NaN NaN NaN
 37                        ...                         NaN NaN NaN NaN
 38                        ...                         NaN NaN NaN NaN
 39                        ...                         NaN NaN NaN NaN
 40                        ...                         NaN NaN NaN NaN
 41                        ...                         NaN NaN NaN NaN
 42                        ...                         NaN NaN NaN NaN
 43                        ...                         NaN NaN NaN NaN
 44                        ...                         NaN NaN NaN NaN
 45                        ...                         NaN NaN NaN NaN
 46                        ...                         NaN NaN NaN NaN

                                                   288  \
 0   Density data primarily from Britt and Consolma...
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22                                                NaN
 23                                                NaN
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27                                                NaN
 28                                                NaN