In [12]:
# Dependencies
import pandas as pd
from flask import Flask, jsonify, render_template
app = Flask(__name__)
import datetime as dt
import json

In [3]:
# Read in Dataframe from CSV file
df = pd.read_csv("Meteorite_Landings.csv")
len(df)

45716

In [4]:
# Data Mungling Formatt NaNs and Lower stringcase
df.dropna(inplace =True)
df["recclass"] = df["recclass"].str.lower()
# df.to_csv("meteorite_data.csv")
df.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Nogata,16988.0,Valid,l6,472.0,Fell,12/28/0860 12:00:00 AM,33.72500,130.75000,"(33.725000, 130.750000)"
2,Elbogen,7823.0,Valid,"iron, iid",107000.0,Fell,12/24/1399 12:00:00 AM,50.18333,12.73333,"(50.183330, 12.733330)"
4,Ensisheim,10039.0,Valid,ll6,127000.0,Fell,12/23/1491 12:00:00 AM,47.86667,7.35000,"(47.866670, 7.350000)"
5,Rivolta de Bassi,22614.0,Valid,stone-uncl,103.3,Fell,12/23/1490 12:00:00 AM,45.48333,9.51667,"(45.483330, 9.516670)"
6,Campo del Cielo,5247.0,Valid,"iron, iab-mg",50000000.0,Found,12/22/1575 12:00:00 AM,-27.46667,-60.58333,"(-27.466670, -60.583330)"

In [5]:
# Data Mungling to format Meteorite Classification
newdf=[]
for index, row in df.iterrows():
    if (row['recclass'].find(',')==-1):
        newdf.append(row['recclass'].split(',')[0])
    else:
        newdf.append(row['recclass'].split(', ')[1])
df['recclass'] = newdf

In [6]:
#Describe Data Type
df['year'].describe()

count        31930
unique         253
top       1/1/1979
freq          3045
Name: year, dtype: object

In [7]:
# Data Mungling to format years
years=[]
for index, row in df.iterrows():
    if (row['year'].find(' ')==-1):
        years.append(row['year'])
    else:
        years.append(row['year'].split(' ')[0])
df['year']=years

In [8]:
# Data Mungling to format years 
newyears=[]
for index, row in df.iterrows():
    newyears.append(row['year'].split('/')[2])
df['year']=newyears

In [13]:
# Preview Dataframe
df.reset_index(drop=True,inplace=True)
df.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Nogata,16988.0,Valid,l6,472.0,Fell,0860,33.72500,130.75000,"(33.725000, 130.750000)"
1,Elbogen,7823.0,Valid,iid,107000.0,Fell,1399,50.18333,12.73333,"(50.183330, 12.733330)"
2,Ensisheim,10039.0,Valid,ll6,127000.0,Fell,1491,47.86667,7.35000,"(47.866670, 7.350000)"
3,Rivolta de Bassi,22614.0,Valid,stone-uncl,103.3,Fell,1490,45.48333,9.51667,"(45.483330, 9.516670)"
4,Campo del Cielo,5247.0,Valid,iab-mg,50000000.0,Found,1575,-27.46667,-60.58333,"(-27.466670, -60.583330)"

In [10]:
#OUTPUT dateframe into JSON filetype
#df.to_json("dataframe.json")

In [11]:
# This is another site that has the densities of the meteorite types in a table
# df_densities = pd.read_html("http://meteorites.wustl.edu/id/density.htm")

In [ ]:
# Turn Dataframe into JSONified output (using method #1)
#json_dict = {}
#json_dict['group_list'] = []
#for grp, grp_data in df.groupby('Group'):
#    grp_dict = {}
#    grp_dict['group'] = grp
#    for cat, cat_data in grp_data.groupby('Category'):
#        grp_dict['category_list'] = []
#        cat_dict = {}
#        cat_dict['category'] = cat
#        cat_dict['p_list'] =[]
#        for p, p_data in cat_data.groupby('P'):
#            p_data = p_data.drop(['Category','Group'], axis=1).set_index('P')
#            for d in p_data.to_dict(orient='records'):
#                cat_dict['p_list'].append({'p': p, 'date_list': [d]})
#        grp_dict['category_list'].append(cat_dict)
#    json_dict['group_list'].append(grp_dict)
#json_out = dumps(json_dict)
#parsed = json.loads(json_out)

In [ ]:
# Turn Dataframe into JSONified output (using method #2)
# df.set_index('name').to_json('file.json', orient='index')

In [ ]:
# Turn Dataframe into JSONified output(using method #3)
#j = (df.groupby(['name','id','nametype','recclass','mass (g)','fall','year','reclat','reclong','GeoLocation']).reset_index().to_json(orient='records'))