In [4]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("Meteorite Value.csv", dtype={'high':int, 'low':int}, na_values=str)
data.head()

TypeError: 'type' object is not iterable

In [6]:
new = data[["low","high"]].apply(pd.to_numeric, errors="ignore")

NameError: name 'data' is not defined

,classification,price,rarity,low,high,Avg Price,Unnamed: 6
0,CIl,"128-1,650",R,128.00,"1,650","128.00 1,650",NaN
1,CI2,"200-1,000",R,200.00,"1,000","200.00 1,000",NaN
2,CM1,NA,R,NA,NaN,NaN,NaN
3,CM2,4-100,VC,4.00,100,4.00 100,NaN
4,CR2,25-200,C,25.00,200,25.00 200,NaN
5,CH3,50-500,R,50.00,500,50.00 500,NaN
6,CB,10-350,C,10.00,350,10.00 350,NaN
7,CO3,3-100,VC,3.00,100,3.00 100,NaN
8,CK3,100,R,100,NaN,NaN,NaN
9,CK4,10-100,C,10.00,100,10.00 100,NaN
10,CK5,20-150,R,20.00,150,20.00 150,NaN
11,CK6,NA,R,NA,NaN,NaN,NaN
12,CV3,2-200,VC,2.00,200,2.00 200,NaN
13,CV4,NA,R,NA,NaN,NaN,NaN
14,C4,25-150,R,25.00,150,25.00 150,NaN
15,C3-ung,100-200,R,100.00,200,100.00 200,NaN
16,LL3,1-100,VC,1.00,100,1.00 100,NaN
17,LL4,1-88,C,1.00,88,1.00 88,NaN
18,LL5,1-45,C,1.00,45,1.00 45,NaN
19,LL6,1-46,C,1.00,46,1.00 46,NaN
20,LL7,8-100,R,8.00,100,8.00 100,NaN
21,L3,2-22,C,2.00,22,2.00 22,NaN
22,L4,1-25,VC,1.00,25,1.00 25,NaN
23,L5,.25-140,VC,0.25,140,0.25 140,NaN
24,L6,.10-500,VC,0.10,500,0.10 500,NaN
25,L7,NA,VR,NA,NaN,NaN,NaN
26,H/L3,5-100,R,5.00,100,5.00 100,NaN
27,H/L4,2-15,C,2.00,15,2.00 15,NaN
28,H3,2-20,C,2.00,20,2.00 20,NaN
29,H4,.15-343,VC,0.15,343,0.15 343,NaN
...,...,...,...,...,...,...,...
45,LODRANITE,"2000-29,108",R,"2,000.00","29,108","2,000.00 29,108",NaN
46,WINONAITE,75-800,C,75.00,800,75.00 800,NaN
47,UREILITE,50-385,VC,50.00,385,50.00 385,NaN
48,HOWARDITE,15-100,C,15.00,100,15.00 100,NaN
49,EUCRITE,10-100,R,10.00,100,10.00 100,NaN
50,DIOGENITE,16-85,VC,16.00,85,16.00 85,NaN
51,AUBRITE,10-200,VC,10.00,200,10.00 200,NaN
52,SHERGOTTITE,"350-4,000",VC,350.00,"4,000","350.00 4,000",NaN
53,NAKHLITE,"700-35,000",R,700.00,"35,000","700.00 35,000",NaN
54,ORTHOPYROXENITE,NA,VR,NA,NaN,NaN,NaN
55,CHASSIGNITE,"10,000-142,500",VR,"10,000.00","142,500","10,000.00 142,500",NaN
56,LUNAITE,"750-160,000",C,750.00,"160,000","750.00 160,000",NaN
57,ANGRITE,"120-1,000",C,120.00,"1,000","120.00 1,000",NaN
58,BRACHINITE,100-625,R,100.00,625,100.00 625,NaN
59,ACAPULCOITE,"30-1,000",R,30.00,"1,000","30.00 1,000",NaN
60,LODRANITE,"2000-29,108",R,"2,000.00","29,108","2,000.00 29,108",NaN
61,WINONAITE,75-800,C,75.00,800,75.00 800,NaN
62,UREILITE,50-385,VC,50.00,385,50.00 385,NaN
63,HOWARDITE,15-100,C,15.00,100,15.00 100,NaN
64,EUCRITE,10-100,R,10.00,100,10.00 100,NaN
65,DIOGENITES,16-85,VC,16.00,85,16.00 85,NaN
66,AUBRITE,10-200,VC,10.00,200,10.00 200,NaN
67,SHERGOTTITE,"350-4,000",VC,350.00,"4,000","350.00 4,000",NaN
68,NAKHLITE,"700-35,000",R,700.00,"35,000","700.00 35,000",NaN
69,ORTHOPYROXENITE,NA,VR,NA,NaN,NaN,NaN
70,CHASSIGNITE,"10,000-142,500",VR,"10,000.00","142,500","10,000.00 142,500",NaN
71,LUNAITE,"750-160,000",C,750.00,"160,000","750.00 160,000",NaN
72,Pallasite,.75-60,R,0.75,60.00,0.75 60.00,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,classification,price,rarity,low,high,Avg Price,Unnamed: 6
0,CIl,"128-1,650",R,128.00,"1,650","128.00 1,650",NaN
1,CI2,"200-1,000",R,200.00,"1,000","200.00 1,000",NaN
2,CM1,NA,R,NA,NaN,NaN,NaN
3,CM2,4-100,VC,4.00,100,4.00 100,NaN
4,CR2,25-200,C,25.00,200,25.00 200,NaN
5,CH3,50-500,R,50.00,500,50.00 500,NaN
6,CB,10-350,C,10.00,350,10.00 350,NaN
7,CO3,3-100,VC,3.00,100,3.00 100,NaN
8,CK3,100,R,100,NaN,NaN,NaN
9,CK4,10-100,C,10.00,100,10.00 100,NaN
10,CK5,20-150,R,20.00,150,20.00 150,NaN
11,CK6,NA,R,NA,NaN,NaN,NaN
12,CV3,2-200,VC,2.00,200,2.00 200,NaN
13,CV4,NA,R,NA,NaN,NaN,NaN
14,C4,25-150,R,25.00,150,25.00 150,NaN
15,C3-ung,100-200,R,100.00,200,100.00 200,NaN
16,LL3,1-100,VC,1.00,100,1.00 100,NaN
17,LL4,1-88,C,1.00,88,1.00 88,NaN
18,LL5,1-45,C,1.00,45,1.00 45,NaN
19,LL6,1-46,C,1.00,46,1.00 46,NaN
20,LL7,8-100,R,8.00,100,8.00 100,NaN
21,L3,2-22,C,2.00,22,2.00 22,NaN
22,L4,1-25,VC,1.00,25,1.00 25,NaN
23,L5,.25-140,VC,0.25,140,0.25 140,NaN
24,L6,.10-500,VC,0.10,500,0.10 500,NaN
25,L7,NA,VR,NA,NaN,NaN,NaN
26,H/L3,5-100,R,5.00,100,5.00 100,NaN
27,H/L4,2-15,C,2.00,15,2.00 15,NaN
28,H3,2-20,C,2.00,20,2.00 20,NaN
29,H4,.15-343,VC,0.15,343,0.15 343,NaN
...,...,...,...,...,...,...,...
45,LODRANITE,"2000-29,108",R,"2,000.00","29,108","2,000.00 29,108",NaN
46,WINONAITE,75-800,C,75.00,800,75.00 800,NaN
47,UREILITE,50-385,VC,50.00,385,50.00 385,NaN
48,HOWARDITE,15-100,C,15.00,100,15.00 100,NaN
49,EUCRITE,10-100,R,10.00,100,10.00 100,NaN
50,DIOGENITE,16-85,VC,16.00,85,16.00 85,NaN
51,AUBRITE,10-200,VC,10.00,200,10.00 200,NaN
52,SHERGOTTITE,"350-4,000",VC,350.00,"4,000","350.00 4,000",NaN
53,NAKHLITE,"700-35,000",R,700.00,"35,000","700.00 35,000",NaN
54,ORTHOPYROXENITE,NA,VR,NA,NaN,NaN,NaN
55,CHASSIGNITE,"10,000-142,500",VR,"10,000.00","142,500","10,000.00 142,500",NaN
56,LUNAITE,"750-160,000",C,750.00,"160,000","750.00 160,000",NaN
57,ANGRITE,"120-1,000",C,120.00,"1,000","120.00 1,000",NaN
58,BRACHINITE,100-625,R,100.00,625,100.00 625,NaN
59,ACAPULCOITE,"30-1,000",R,30.00,"1,000","30.00 1,000",NaN
60,LODRANITE,"2000-29,108",R,"2,000.00","29,108","2,000.00 29,108",NaN
61,WINONAITE,75-800,C,75.00,800,75.00 800,NaN
62,UREILITE,50-385,VC,50.00,385,50.00 385,NaN
63,HOWARDITE,15-100,C,15.00,100,15.00 100,NaN
64,EUCRITE,10-100,R,10.00,100,10.00 100,NaN
65,DIOGENITES,16-85,VC,16.00,85,16.00 85,NaN
66,AUBRITE,10-200,VC,10.00,200,10.00 200,NaN
67,SHERGOTTITE,"350-4,000",VC,350.00,"4,000","350.00 4,000",NaN
68,NAKHLITE,"700-35,000",R,700.00,"35,000","700.00 35,000",NaN
69,ORTHOPYROXENITE,NA,VR,NA,NaN,NaN,NaN
70,CHASSIGNITE,"10,000-142,500",VR,"10,000.00","142,500","10,000.00 142,500",NaN
71,LUNAITE,"750-160,000",C,750.00,"160,000","750.00 160,000",NaN
72,Pallasite,.75-60,R,0.75,60.00,0.75 60.00,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN